.THIS .Buttoneffect:hover{
    background-color: rgba(158, 158, 158, 0.3686274509803922);
    border-radius: 4px;
    cursor: pointer;
}

.THIS .slds-icon-text-default {
    fill: rgb(21, 137, 238);
    
}

.THIS .sldsicon {
    fill: rgba(228, 0, 0, 1);
    
}

.THIS .slds-button--neutral {
     padding-left: unset; 
    padding-right: unset; 
    text-align: center;
    vertical-align: middle;
    border: unset;
    transition: border .15s linear;
    /* border-color: rgb(221, 219, 218); */
    background-color: rgb(255, 255, 255);
}
.THIS .ptop{
    padding-top: 10px;
}
.THIS .combobox {
    width: fit-content; 
}
.THIS .Staticpostition{
    position: static;
}