.Review{
	color : #747474;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Rejected{
	color : red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Approved{
	color : green;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}