@media(max-width:700px){
    .THIS .responsiveHide{
        display : none !important;
    }
}
.THIS .lwc-resource {
    border-bottom: 1px solid #dddbda;
    border-left: 1px solid #dddbda;
    border-top: 1px solid #dddbda;
    min-width: 190px;
    font-weight: unset;
    
}
.THIS .lwc-timeline_day {
    min-width: 50px;
    text-align: center;
    padding-right: 1px;
}
.THIS .lwc-timeslot {
    border-bottom: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    border-top: 1px solid #dddbda;
    min-width: 50px;
    transition: background-color .2s ease 0s;
    margin: unset;
}
.THIS .Stripped-barprogress {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.THIS .Stripped-Bar {
    background-color: #5cb85c;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.THIS .Borderradiusright {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.THIS .Borderradiusleft {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.THIS .combobox {
    width: fit-content; 
}

.THIS .Staticpostition{
    position: static;
}

.THIS .Planned {
    background-color: #f0ad4e;
}
.THIS .InProgress {
    background-color: #5bc0de;
}
.THIS .PendingReporting {
    background-color: #C0C0C0;
}
.THIS .Aborted {
    background-color: #ff2626;
}
.THIS .ConceptPhase {
    background-color: #ff7c4b;
}
.THIS .Completed {
    background-color: #5cb85c;
}
.THIS .Onhold{
    background-color: #596d90;
}
.THIS .Closed{
    background-color: #009688;
}

.THIS .popoverclass {
    min-height: 100px;
}
.THIS .ptop{
    padding-top: 10px;
}
.THIS .Buttoneffect:hover{
    background-color: rgba(158, 158, 158, 0.3686274509803922);
    border-radius: 4px;
    cursor: pointer;
}
.THIS .slds-icon-text-default {
    fill: rgb(21, 137, 238);
    
}

.THIS .sldsicon {
    fill: rgba(228, 0, 0, 1);
    
}

.THIS .slds-button--neutral {
     padding-left: unset; 
    padding-right: unset; 
    text-align: center;
    vertical-align: middle;
    border: unset;
    transition: border .15s linear;
    /* border-color: rgb(221, 219, 218); */
    background-color: rgb(255, 255, 255);
}

.THIS .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #5cb85c;
    background: -moz-linear-gradient(left, #5cb85c 10%, rgba(115,230,0, 0) 42%);
    background: -webkit-linear-gradient(left, #5cb85c 10%, rgba(115,230,0, 0) 42%);
    background: -o-linear-gradient(left, #5cb85c 10%, rgba(115,230,0, 0) 42%);
    background: -ms-linear-gradient(left, #5cb85c 10%, rgba(115,230,0, 0) 42%);
    background: linear-gradient(to right, #5cb85c 10%, rgba(115,230,0, 0) 42%);
    position: fixed;
    top: 22rem;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.THIS .loader:before {
    width: 50%;
    height: 50%;
    background: #5cb85c;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.THIS .loader:after {
    background: #ffffff;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}