.THIS {
}
.THIS .selectTeam1 {

    margin-left: 10px;
    font-weight: bold;
    font-size: 150%;
    color: #1A5276;
    border: 2px solid #1A5276;
    background-color: #dce4ec;
    
    
}
.THIS .container {
    width: 100%;  
    margin: 20px auto;
}
  .THIS.btn {
 	margin-bottom: 10px;
 }

.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}
.THIS .selectDate
{
    margin-right: 10px;
     margin-top: 20px;
    font-weight: bold;
}
.THIS .selectInputRecovery{
	margin-left: 10px;
	width: 200px;    
    height: 35px;
    margin-top: 20px;
    margin-right: 50px;	
    margin-bottom: 20px;
}
.THIS .sectionOne{
    background-color : #82E0AA ;
}
.THIS .sectionTwo{
    background-color : #FAEBD7   ;
}
.THIS .sectionThree{
    background-color : #5DADE2 ;
}
.THIS .sectionFour{
    background-color : #D6EAF8 ;
}
.THIS .sectionFive{
    background-color :#D5F5E3 ;
}
.THIS .sectionSix{
    background-color :#DAF7A6 ;
}
.THIS .fl{
     float: left;
    margin-top:20px;
   
}