.THIS .slds-accordion__summary-heading
{
	display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.875rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	background-color: rgb(243, 242, 242);
    text-transform: uppercase;
    /* font-family: Trebuchet, Arial, sans-serif; */
    font-weight: bold;    
}
.THIS .none
{
    display:none; 
}
.THIS .errorNoteClass {
    font-size: .75rem;
    margin-top: 0.125rem;
    margin-left: 0.3rem;
    display: block;
    width: inherit;
    color: rgb(194, 57, 52);
}
.THIS .errorNoteClass:focus  
{
    font-weight: bold;
}