.pnr-number {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.wrapper1, .wrapper2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper1 {
  height: 20px;
}



.div1 {
  width:1145px;
  height: 20px;
  overflow: auto;
}

.wrapper2 {
  width: 100%; /* Adjust as per your layout needs */
  height: auto; /* Adjust based on content */
  max-height: 1000px; /* Maximum height to restrict excessive expansion */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds height */
  overflow-x: hidden;
}

.div2 {
  width: 100%; /* Adjust as per your layout needs */
  height: auto; /* Adjust based on content */
  overflow: auto; /* Enable scrolling */
}

c-qcc-booking-table ,.slds-scrollable_y {	
    max-width: 1145px
}