.THIS .alert-div{
    display: flex;
	justify-content: center;
    flex-direction: row-reverse;
}

.THIS .alert-icon{
    display: flex;
    justify-content: center;
    width: 5em;
    padding-bottom: 1em;
}

.THIS .warning-alert-icon{
    display: flex;
    justify-content: center;
    width: 5em;
    padding-top: .2em;
}

.THIS .alert-text{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 2em;
}