.THIS .slds-accordion__summary{
    border: var(--lwc-borderWidthThin,1px) solid transparent;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    background:    var(--lwc-colorBackground,rgb(243, 242, 242));
                    padding-top: 5px;
                    padding-bottom: 5px;
}