/* componentName.css */
.slds-input {
    padding-right: 1rem;
    /* Add padding to the right to make space for the arrow */
}

/* This will hide the native dropdown icon in certain browsers, such as Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dynamic-options
{
    font-size: smaller;
    font-weight: lighter;
}