.THIS .fillGREEN{
    color : green;
}
.THIS .fillRED{
    color : red;
}
.THIS .fillYELLOW{
    color : #ffbf00;
}
.THIS .fillBLUE{
    color : blue;
}
.THIS .tblBorder{
    border: 3px solid #f0f0f0;  
}