.THIS .li-icon-label{
    text-align: center;
	word-wrap: break-word;
	font-size: xx-small;
}

.THIS .disruption-img{
    width: 4.4em;
}

.THIS .table-pop{
    position: absolute;
    left: -2.9em;
    font-size: small;
}