.pnr-container {
    margin-left : 0.5rem;
    margin-right : 0.5rem;
}

.input-delete-container {
    display: flex;
    align-items: center;
    margin-left : 0.5rem;
}

.delete-container {
    display: flex;
    align-items: center;
    margin-left : 0.5rem;
    margin-right : 0.5rem;
    margin-bottom : 1rem;
    margin-top: 0.5rem;
}

.pnr-input {
    flex : 1;/* Takes up remaining space */
    margin-right : 0.5rem;
}

.button-container {
    display: flex;
    justify-content: flex-start; 
    margin-top: 0.5rem;
    margin-left : 0.5rem;
    
   
}


.button-container-right {
    display: flex;
    justify-content: flex-end;
    margin-right : 0.5rem;
    margin-top: 0.5rem;
}

.custom-button {
    margin-right: 1rem;
}
.add-another-pnr {
    margin-top: 0.5rem;
}