.title{
    margin-top: 1em;
    padding-top: 1em;
    background-color: white;
}
.custom-card {
    width: 100%; /* Adjust the width as needed */
    max-width: 1200px; /* You can set a max-width to prevent it from growing too large */
    margin: auto; /* Center the card if the width is less than the container width */
}