.THIS {
    font-family : 'QantasCiutadellaMedium';
    font-size: 15px;
    height: 15px;
}
@font-face {
    font-family : 'QantasCiutadellaMedium';
    src : url('/support/s/sfsites/c/resource/QantasCiutadella_Web/QaCi1000-Md/wf/QaCi1000-Md.eot');
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
}
.THIS .icn svg{
    fill : #dd0303;
    width: 1rem;
    height: 1rem;
}
.THIS .linkLabel {
    color: #E40000;
    font-family : 'QantasCiutadellaMedium'  !important;
    font-size: 15px;
    height: 15px;

 }
.THIS .textLabel {
    color: #323232;
    font-family : 'QantasCiutadellaMedium'  !important;
    font-size: 15px;
    height: 15px;

 }