.THIS .slds-table thead th{
    padding: .60rem .5rem !important;
    }
    .THIS .onhover {
        cursor:pointer;
    }
    .THIS .onSelection{
        background-color:#7aa9ee;
    }
    .THIS .onSelection:hover{
        background-color:#103777 !important; 
    }