.THIS {
    
}

.THIS .slds-tree__item .slds-button {
    align-self: flex-start;
}
        
.THIS .slds-m-right--x-small {
    padding-right: var(--lwc-spacingXSmall,0.5rem);
	padding-left: var(--lwc-spacingXSmall,0.5rem);                    
}
                    
.THIS .slds-m-right_x-small {
    padding-right: var(--lwc-spacingXSmall,0.5rem);
	padding-left: var(--lwc-spacingXSmall,0.5rem);
	margin-right: 0rem;                                    
}