.THIS {
    font-family : 'QantasCiutadellaMedium';
    font-size: 15px;
}

.THIS .rich-text-container {
    overflow:auto;
}

@font-face {
    font-family : 'QantasCiutadellaMedium';
    src : url('/support/s/sfsites/c/resource/QantasCiutadella_Web/QaCi1000-Md/wf/QaCi1000-Md.eot');
    font-style: normal;
    font-weight: normal; 
    font-size: 1.5rem;
	text-rendering: optimizeLegibility;
}
/*.THIS .slds-vertical-tabs__link {
    color : #dd0303;
    background-color : #f3e6e6;
}
.THIS .slds-vertical-tabs__link:hover {
    background-color : #ffffff;
}
.THIS .slds-vertical-tabs__link:focus {
    outline: 0px;
    background-color : #ffffff;
}*/
.THIS .slds-vertical-tabs__content {
    background: #ffffff;
}
/*.THIS .slds-vertical-tabs__link {
    color : rgb(50,50,50);
}*/
.THIS .slds-vertical-tabs__link:focus {
    background-color : rgb(235,235,235);
}
.THIS .slds-vertical-tabs__link:hover {
    background-color : light-grey;
    color : rgb(228,0,0);
}
.THIS .slds-is-active .slds-vertical-tabs__link:hover {
    background-color : light-grey;
}
.THIS .slds-is-active .slds-vertical-tabs__link:focus {
    background-color : rgb(235,235,235);
}
.THIS .slds-is-active .slds-vertical-tabs__link{
    background-color : rgb(235,235,235);
}