.THIS .contentbox{
    border-left: 1px solid rgb(221, 219, 218);  
    border-right: 1px solid rgb(221, 219, 218);  
    border-bottom: 1px solid rgb(221, 219, 218);  
    border-top: 1px solid rgb(221, 219, 218);
    position: relative;
}
.THIS .slds-listbox{
    position: relative !important;
}
.THIS .header{
    border-radius: 0px; 
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;  
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}
.THIS .none
{
    display:none; 
}
.THIS .errorNoteClass {
    font-size: .75rem;
    margin-top: 0.125rem;
    margin-left: 0.3rem;
    display: block;
    width: inherit;
    color: rgb(194, 57, 52);
}
.THIS .errorNoteClass:focus  
{
    font-weight: bold;
}