.THIS {
  background-color: white; 
}
.THIS .slds-accordion__summary {
    background-color: #eeeeee; 
}

.THIS.slds-border_bottom{
    border-bottom : 1px dotted;
}
.THIS .headerBold{
    font-weight: bold;
}