.THIS .slds-table thead th{
    padding: .60rem .5rem !important;
    }
    .THIS .onhover {
        cursor:pointer;
    }

.THIS .background {
    background-color: transparent;
}

.THIS.spins::after {
    position: absolute;
    content: 'Retrieving Case History';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}