.THIS .slds-form-element__static {
    font-size: .75rem;
}
.THIS .slds-col {
    padding-right : .2rem;
    padding-left : .2rem;
}
.THIS .slds-button_icon-container {
    width: 1rem;
}
.THIS .slds-dueling-list__column_responsive {
    min-width: 2rem;
}
.THIS .slds-form-element__label {
    font-weight: 700;
}