.THIS .DeepPink {
  background-color: deeppink;
}
.THIS .DeepSkyBlue{
  background-color: deepskyblue;
}
.THIS .LimeGreen{
  background-color: limegreen;
}
.THIS .Gold{
  background-color: gold;
}   
.THIS .Red {
  background-color: #CC0000;
     color: black;
}

.THIS .RosyBrown{
  background-color: rosybrown;
}
.THIS .Tomato{
  background-color: tomato;
}
.THIS .Turquoise{
  background-color: darkturquoise;
}
.THIS .Violet{
  background-color: violet;
}
.THIS .YellowGreen{
  background-color: yellowGreen;
}

.THIS .Orange{
  background-color: orange;
}
.THIS{
  height: 3rem;
  width: 3rem;
}

.THIS .Gray{
  background-color: grey;
}

.THIS .li-icon{
    display: flex;
    justify-content: center;
}

.THIS .li-icon-label{
    text-align: center;
	word-wrap: break-word;
	font-size: xx-small;
}