.THIS .slds-spinner_container {  
	z-index: 10000;
	position: fixed;   
}
.THIS .qiclabel{
    width: auto !important;
	padding-top: 6px !important;
}
.THIS .toggle {
    display: none;
}
.THIS .slds-accordion__summary-heading
{
	display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.875rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	background-color: rgb(243, 242, 242);
    text-transform: uppercase;
    /* font-family: Trebuchet, Arial, sans-serif; */
    font-weight: bold;    
}
.THIS .dark {
    color: rgba(228, 0, 0, 1);
}