.main-container{
    background-color: white;
  }
  
  .footer-container{
      /* margin-top: 2em; */
      position: relative;
      display: flex;
      justify-content: end;
  }

  .margin-r{
    margin-right: .5em;
  }

  .child-div{
    position: absolute;
    bottom: 80%; 
    left: 10%;
    transform: translateX(-50%);
  }

  .popover-section{
    width: 150%;
  }

  .popover-body{
    display: flex;
    padding: 1em;
  }

  .notification-header{
    margin-left: .5em;
    align-self: center; 
  }

  .button-set{
    display: block;
  }

  .wrapup-reminder{
    display: flex;
    justify-content: center;
  }

  .text-area
  {
    --sds-c-textarea-sizing-min-height:175px;
  }