@font-face {
  font-family: 'QantasCiutadellaRegular';
  src: url('wf/QaCi1000-Rg.eot?orgId=00D0p0000008alw&orgId=00D0k0000009RK2');
  src: url('wf/QaCi1000-Rg.eot?orgId=00D0p0000008alw&orgId=00D0k0000009RK2#iefix') format('embedded-opentype'), url('wf/QaCi1000-Rg.woff2?orgId=00D0p0000008alw&orgId=00D0k0000009RK2') format('woff2'), url('wf/QaCi1000-Rg.woff?orgId=00D0p0000008alw&orgId=00D0k0000009RK2') format('woff'), url('wf/QaCi1000-Rg.ttf?orgId=00D0p0000008alw&orgId=00D0k0000009RK2') format('truetype'), url('wf/QaCi1000-Rg.svg?orgId=00D0p0000008alw&orgId=00D0k0000009RK2#font') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}