.THIS .slds-columnWidth{
    width : 100 px;
    max-width : 200px;
}
.THIS .slds-datepicker{
    /*position: relative !important;*/
    /*width : auto !important;*/
    z-index: 100 !important;
}
.THIS .customLabel{
    font-size : 16px
}